/* 1. Preprosto centriranje celotne vsebine na strani */
body {
    margin: 0;
    display: flex;
    justify-content: center; 
    background-image: url('../fasada.jpg');
    background-size: cover;
}

/* 2. Glavni kontejner - vse, bo padlo na sredino */
#main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 50px; /* Malo prostora od vrha ekrana */
}
#igra{
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 20px;
}
#paleta {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Razmak med vedri */
    padding-top: 50px;
}
.vedro {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.vedro:hover {
    transform: scale(1.2);
}
#modra {
    background-image: url('../istockphoto-2119231058-612x612.jpg');
    background-size: cover;
}
#rdeca{
    background-color: #ff4d4d;
}
#rumena{
    background-color: #ffcc00;
}
#zelena{
    background-color: #33cc33;
}
#vijola{
    background-color: #9933ff;
}
#roza{
    background-color: #ff99cc;
}
#naslov_igre {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

#naslov_igre h1 {
    margin: 0;
    font-size: 40px;
}
/* 3. Tvoj wrapper za labirint */
#maze_wrapper {
    position: relative; 
    width: 700px;
    height: 700px;
}

/* 4. Canvas in SVG (ostane isto) */
#svg_container, #labirint {
    position: absolute; 
    top: 0;
    left: 0;
}

#labirint {
    z-index: 10; 
    pointer-events: none; 
}

#poteze_prikaz{
    text-align: center; 
    margin-top: 20px; 
    font-family: sans-serif;

}
