* {
  padding: 0%;
  margin: 0%;
}

#labirint {
  /* Pot do tvoje SVG datoteke */
  background-image: url("../labi1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  /* Zagotovi, da ima canvas določeno velikost, da bo ozadje vidno */
  width: 600px;
  height: 600px;
  border: 1px solid #000;
}
main {
  display: flex;
  justify-content: center; /* Vodoravno centriranje */
  align-items: center; /* Navpično centriranje */
  height: 100vh; /* Višina (če želiš na sredino celotne strani) */
}
