* {
  padding: 0%;
  margin: 0%;
}

#labirint {
  width: 700px;
  height: 700px;
  position: absolute;
  z-index: 1;
}
#main {
  display: flex;
  justify-content: center; /* Vodoravno centriranje */
  align-items: center; /* Navpično centriranje */
  height: 100vh; /* Višina (če želiš na sredino celotne strani) */
}
#svg_container{
  width: 700px;
  height: 700px;
}